<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property=’og:title’ content="Ticklist Mapper"/>
    {% block extra_meta_tags %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    {% block additional_css %}{% endblock %}
</head>
<body>

<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

<footer>
    <div class="copyright">
        <a href="/">Home</a> / <a href="https://github.com/justinmklam/ticklist-mapper">GitHub</a>
    </div>
</footer>


<script src="https://unpkg.com/htmx.org@1.8.5"></script>

{% block additional_js %}{% endblock %}

</body>
</html>
