<h2>Result</h2>
<button onclick="copyToClipboard('url')">Copy URL</button>
<input id="url" style="width:98%" readonly value={{ persistent_url }}></input>

<iframe width="100%" height="400px" src="{{ filepath }}" ></iframe>

<table>
  <!-- table header -->
  {% if routes %}
  <tr>
     {% for key in routes[0] %}
     {% if key == 'url' %}
     {% else %}
     <th> {{ key }} </th>
     {% endif %}
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in routes %}
  <tr>
     {% for key, value in dict_item.items() %}
     {% if key == 'name' %}
     <td> <a href="{{dict_item['url']}}" target="_blank">{{ value }}</a></td>
     {% elif key == 'url' %}
     {% else %}
     <td> {{ value }} </td>
     {% endif %}
     {% endfor %}
  </tr>
  {% endfor %}
</table>

<script>
   function copyToClipboard(id) {
  // Get the text field
  var copyText = document.getElementById(id);

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
}
</script>
