<h2>Result</h2>
<button id="btn-copy-url" onclick="copyToClipboard('copy-url')">Copy URL</button>
<input id="copy-url" style="width:98%" readonly value={{ persistent_url }}></input>

<iframe onload="onResultLoad()" width="100%" height="400px" src="{{ filepath }}" ></iframe>

<table>
  <!-- table header -->
  {% if routes %}
  <tr>
     {% for key in routes[0] %}
     {% if key in ['url', 'area_url'] %}
     {% else %}
     <th> {{ key }} </th>
     {% endif %}
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in routes %}
  <tr>
     {% for key, value in dict_item.items() %}
     {% if key == 'name' %}
     <td> <a href="{{dict_item['url']}}" target="_blank">{{ value }}</a></td>
     {% elif key == 'area' %}
     <td> <a href="{{dict_item['area_url']}}" target="_blank">{{ value }}</a></td>
     {% elif key == 'youtube_beta_url' %}
     <td> <a href="{{ value }}" target="_blank">link</a></td>
     {% elif key in ['url', 'area_url'] %}
     {% else %}
     <td> {{ value }} </td>
     {% endif %}
     {% endfor %}
  </tr>
  {% endfor %}
</table>

<script>
function copyToClipboard(id) {
  // Get the text field
  var copyText = document.getElementById(id);

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

   // User feedback when button is clicked
   var copyTextBtn = document.getElementById("btn-" + id)
   var last = copyTextBtn.innerHTML;
   copyTextBtn.innerHTML = 'Copied!';
   clicked = true;
   setTimeout(function () {
      copyTextBtn.innerHTML = last;
      clicked = false;
   }, 2000);
}

function onResultLoad() {
   window.history.replaceState('data', 'New Routes', '{{ persistent_url }}');
   document.title = decodeURI("{{ metadata['title']}}");
}
</script>
