{% extends "base.html" %}
{% block main_content %}

<body>
    <h1>
        Ticklist Mapper
    </h1>

    <form id="search-climbs" name="search-climbs" hx-swap="innerHTML" hx-target="#search-climbs-result" hx-post="/search-climbs"
        hx-indicator=".htmx-indicator">
        <input
            name="area"
            placeholder="Area (e.g. Bishop)"
            required
            {% if area %}value="{{area}}" {% endif %}
        ></input>
        <textarea name="climbs"
        placeholder="Enter each climb name on a new line" required>{% if climbs %}{{climbs}}{% endif %}</textarea>
        <button id="btn-submit">Submit</button>
    </form>

    <span class="htmx-indicator">
        <img src="/static/img/bars.svg" /> Loading...
    </span>
    <div id="search-climbs-result"></div>

    {% if area and climbs %}
    <script defer>
        // Submit form on load if climbs are populated from the url's saved state
        window.onload = function() {
            document.getElementById("btn-submit").click()
        }
    </script>
    {% endif %}
</body>

{% endblock %}
